## Домашняя работа

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  
  
Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [7]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
mix=movies.merge(ratings)
mix.head(5)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

In [8]:
def films(rating):
    if rating <= 2:
        return 'низкий рейтинг'
    elif rating <= 4:
        return 'средний рейтинг'
    elif rating >= 4.5:
        return 'высокий рейтинг'

    
mix['class'] = mix['rating'].apply(films)
mix.head(5)

,movieId,title,genres,userId,rating,timestamp,class
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703,средний рейтинг
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179,средний рейтинг
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058,высокий рейтинг
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310,низкий рейтинг
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091,средний рейтинг

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.  

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:  

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [12]:
kw = pd.read_csv('keywords.csv')

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

def cl(kword):
    k = kword.split(' ');
    result = 'undefind'
    for reg,gor in geo_data.items():
        if len(list(set(k) & set(gor))) != 0:
            result = reg
    return result

kw['region'] = kw['keyword'].apply(cl)
kw[(kw.region != 'undefind')].head(20)

                                 keyword   shows          region
127                         авито москва  979292           Центр
370             авито ру санкт петербург  425134    Северо-Запад
849                      авито ярославль  209581           Центр
1063                 фарпост владивосток  176951  Дальний Восток
1236                банк санкт петербург  174375    Северо-Запад
1259                              москва  153050           Центр
1346                     санкт петербург  144232    Северо-Запад
1396                     гисметео москва  140279           Центр
1482                    госуслуги москва  133061           Центр
1579                          авито тула  126168           Центр
1682                       погода москва  151701           Центр
2153                         авито псков   98931    Северо-Запад
2175                      дром хабаровск   98361  Дальний Восток
2398                      авито мурманск   89787    Северо-Запад
2550  банк санкт петербург интернет банк   89123    Северо-Запад
2806            циан недвижимость москва   78729           Центр
2974             авто ру санкт петербург   74918    Северо-Запад
3206                    дром владивосток   73084  Дальний Восток
3275                  100 сп владивосток   76418  Дальний Восток
3687                     авито хабаровск   63736  Дальний Восток